@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

body {
	font-family: Ubuntu, sans-serif;
	font-size: 11px;
}

pre {
	font-family: "Ubuntu Mono", monospace;
	font-size: 13px;
}

.entity {
	position: relative;
}
.entity .human {
	position: relative;
}

.entity.expr.active > .human {
	background-color: hsla(200, 100%, 50%, 0.1);
	border-bottom: 1px solid hsla(200, 100%, 50%, 0.2);
}

.entity .entity-tag {
	position: absolute;
	left: 0;
	top: 100%;
	background-color: hsl(200, 100%, 50%);
	color: hsl(0, 0%, 100%);
	padding: 1px;
	font-size: 9px;
	display: none;
	z-index: 1;
}
.entity.active > .human > .entity-tag {
	display: inherit;
}

.entity .entity-info {
	color: hsl(0, 0%, 90%);
	/*position: absolute;*/
	float: right;
	/*left: 0;
	top: 20px;*/
	display: none;
	padding: 5px;
	margin: 3px;
	border-radius: 5px;
	background-color: hsla(0, 0%, 0%, 0.85);
	border: 2px solid white;
	box-shadow: 0 1px 10px hsla(0, 0%, 0%, 0.3);
	font: 11px Ubuntu, sans-serif;
	z-index: 2;
}
.entity.active > .human > .entity-info {
	display: inherit;
}
.entity-info .name {
	font-weight: bold;
}
.entity-info .name .class {
	font-weight: normal;
}