<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entities</key>
	<dict>
		<key>AssignmentExpr</key>
		<dict>
			<key>extends</key>
			<string>Expr</string>
			<key>graph</key>
			<array>
				<string>@graph</string>
			</array>
			<key>tree</key>
			<array>
				<string>Expr lhs</string>
				<string>Expr rhs</string>
			</array>
			<key>type</key>
			<array>
				<string>@type</string>
			</array>
		</dict>
		<key>AssumeStmt</key>
		<dict>
			<key>assumer</key>
			<array>
				<string>@assumer</string>
			</array>
			<key>graph</key>
			<array>
				<string>@graph</string>
			</array>
			<key>tree</key>
			<array>
				<string>target</string>
				<string>assumption</string>
			</array>
		</dict>
		<key>Assumption</key>
		<dict>
			<key>assumer</key>
			<array>
				<string>target</string>
				<string>assumption</string>
			</array>
		</dict>
		<key>BinaryOperatorExpr</key>
		<dict>
			<key>call</key>
			<array>
				<string>@call</string>
			</array>
			<key>extends</key>
			<string>Expr</string>
			<key>graph</key>
			<array>
				<string>@graph</string>
			</array>
			<key>main</key>
			<array>
				<string>string operator</string>
			</array>
			<key>tree</key>
			<array>
				<string>lhs</string>
				<string>rhs</string>
			</array>
			<key>type</key>
			<array>
				<string>@type</string>
			</array>
		</dict>
		<key>CallArgument</key>
		<dict>
			<key>call</key>
			<array>
				<string>expr</string>
				<string>string name</string>
			</array>
		</dict>
		<key>CallArgumentTuple</key>
		<dict>
			<key>call</key>
			<array>
				<string>array arguments</string>
			</array>
		</dict>
		<key>CallCandidate</key>
		<dict>
			<key>call</key>
			<array>
				<string>\AbstractFunction func</string>
				<string>bool feasible</string>
				<string>numeric cost</string>
			</array>
			<key>tree</key>
			<array>
				<string>array arguments</string>
			</array>
			<key>type</key>
			<array>
				<string>@type</string>
			</array>
		</dict>
		<key>CallCandidateArgument</key>
		<dict>
			<key>call</key>
			<array>
				<string>CallArgument argument</string>
			</array>
			<key>type</key>
			<array>
				<string>@type</string>
			</array>
		</dict>
		<key>CallExpr</key>
		<dict>
			<key>call</key>
			<array>
				<string>@call</string>
			</array>
			<key>graph</key>
			<array>
				<string>@graph</string>
			</array>
			<key>main</key>
			<array>
				<string>string name</string>
			</array>
			<key>tree</key>
			<array>
				<string>array arguments</string>
			</array>
			<key>type</key>
			<array>
				<string>@type</string>
			</array>
		</dict>
		<key>CastType</key>
		<dict>
			<key>main</key>
			<array>
				<string>from</string>
				<string>to</string>
				<string>numeric cost</string>
				<string>\AbstractFunction func</string>
			</array>
		</dict>
		<key>ConcreteType</key>
		<dict>
			<key>main</key>
			<array>
				<string>ref definition</string>
			</array>
		</dict>
		<key>ConstantExpr</key>
		<dict>
			<key>extends</key>
			<string>Expr</string>
			<key>graph</key>
			<array>
				<string>@graph</string>
			</array>
			<key>main</key>
			<array>
				<string>string value</string>
			</array>
			<key>type</key>
			<array>
				<string>@type</string>
			</array>
		</dict>
		<key>ExprStmt</key>
		<dict>
			<key>graph</key>
			<array>
				<string>@graph</string>
			</array>
			<key>tree</key>
			<array>
				<string>Expr expr</string>
			</array>
		</dict>
		<key>FunctionArgument</key>
		<dict>
			<key>graph</key>
			<array>
				<string>@graph</string>
			</array>
			<key>implements</key>
			<array>
				<string>\AbstractFunctionArgument</string>
			</array>
			<key>main</key>
			<array>
				<string>string name</string>
			</array>
			<key>tree</key>
			<array>
				<string>TypeExpr typeExpr</string>
			</array>
			<key>type</key>
			<array>
				<string>@type</string>
			</array>
		</dict>
		<key>FunctionArgumentTuple</key>
		<dict>
			<key>graph</key>
			<array>
				<string>@graph</string>
			</array>
			<key>implements</key>
			<array>
				<string>\AbstractFunctionArgumentTuple</string>
			</array>
			<key>tree</key>
			<array>
				<string>array arguments</string>
			</array>
			<key>type</key>
			<array>
				<string>@type</string>
			</array>
		</dict>
		<key>FunctionArgumentTupleType</key>
		<dict>
			<key>main</key>
			<array>
				<string>array arguments</string>
			</array>
		</dict>
		<key>FunctionArgumentType</key>
		<dict>
			<key>main</key>
			<array>
				<string>string name</string>
				<string>type</string>
			</array>
		</dict>
		<key>FunctionBody</key>
		<dict>
			<key>tree</key>
			<array>
				<string>array stmts</string>
			</array>
		</dict>
		<key>FunctionDefinition</key>
		<dict>
			<key>assumer</key>
			<array>
			</array>
			<key>binding</key>
			<array>
			</array>
			<key>call</key>
			<array>
			</array>
			<key>code</key>
			<array>
				<string>@root_code</string>
			</array>
			<key>graph</key>
			<array>
				<string>@graph</string>
			</array>
			<key>implements</key>
			<array>
				<string>\AbstractFunction</string>
			</array>
			<key>main</key>
			<array>
				<string>@range</string>
				<string>string name</string>
			</array>
			<key>root</key>
			<true/>
			<key>tree</key>
			<array>
				<string>FunctionArgumentTuple inputs</string>
				<string>FunctionArgumentTuple outputs</string>
				<string>FunctionBody body</string>
			</array>
			<key>type</key>
			<array>
				<string>@type</string>
			</array>
		</dict>
		<key>FunctionType</key>
		<dict>
			<key>main</key>
			<array>
				<string>FunctionArgumentTupleType inputs</string>
				<string>FunctionArgumentTupleType outputs</string>
			</array>
		</dict>
		<key>GenericType</key>
		<dict>
		</dict>
		<key>IdentifierExpr</key>
		<dict>
			<key>binding</key>
			<array>
				<string>@binding</string>
			</array>
			<key>code</key>
			<array>
				<string>@expr_code</string>
			</array>
			<key>extends</key>
			<string>Expr</string>
			<key>graph</key>
			<array>
				<string>@graph</string>
			</array>
			<key>main</key>
			<array>
				<string>@range</string>
				<string>string name</string>
			</array>
			<key>type</key>
			<array>
				<string>@type</string>
				<string>string someText</string>
			</array>
		</dict>
		<key>InvalidType</key>
		<dict>
		</dict>
		<key>NamedType</key>
		<dict>
			<key>main</key>
			<array>
				<string>string name</string>
				<string>ref definition</string>
			</array>
		</dict>
		<key>NullObject</key>
		<dict>
		</dict>
		<key>StructureField</key>
		<dict>
			<key>graph</key>
			<array>
				<string>@graph</string>
			</array>
			<key>main</key>
			<array>
				<string>string name</string>
			</array>
			<key>tree</key>
			<array>
				<string>type</string>
			</array>
		</dict>
		<key>StructureInheritance</key>
		<dict>
			<key>graph</key>
			<array>
				<string>@graph</string>
			</array>
			<key>main</key>
			<array>
				<string>string name</string>
			</array>
			<key>tree</key>
			<array>
				<string>NamedType type</string>
			</array>
		</dict>
		<key>StructureType</key>
		<dict>
			<key>graph</key>
			<array>
				<string>@graph</string>
			</array>
			<key>main</key>
			<array>
				<string>@range</string>
			</array>
			<key>tree</key>
			<array>
				<string>array fields</string>
				<string>array inherits</string>
			</array>
		</dict>
		<key>TypeDefinition</key>
		<dict>
			<key>graph</key>
			<array>
				<string>@graph</string>
			</array>
			<key>main</key>
			<array>
				<string>@range</string>
				<string>string name</string>
			</array>
			<key>tree</key>
			<array>
				<string>array types</string>
			</array>
		</dict>
		<key>TypeExpr</key>
		<dict>
			<key>graph</key>
			<array>
				<string>@graph</string>
			</array>
			<key>tree</key>
			<array>
				<string>Expr expr</string>
			</array>
			<key>type</key>
			<array>
				<string>evaluatedType</string>
			</array>
		</dict>
		<key>TypeSet</key>
		<dict>
			<key>main</key>
			<array>
				<string>array types</string>
			</array>
		</dict>
		<key>UnionType</key>
		<dict>
			<key>main</key>
			<array>
				<string>array types</string>
			</array>
		</dict>
		<key>UnionTypeExpr</key>
		<dict>
			<key>extends</key>
			<string>Expr</string>
			<key>graph</key>
			<array>
				<string>@graph</string>
			</array>
			<key>tree</key>
			<array>
				<string>array typeExprs</string>
			</array>
		</dict>
		<key>VariableDefinitionExpr</key>
		<dict>
			<key>code</key>
			<array>
				<string>@expr_code</string>
			</array>
			<key>extends</key>
			<string>Expr</string>
			<key>graph</key>
			<array>
				<string>@graph</string>
			</array>
			<key>main</key>
			<array>
				<string>@range</string>
				<string>string name</string>
			</array>
			<key>tree</key>
			<array>
				<string>typeExpr</string>
				<string>initialExpr</string>
			</array>
			<key>type</key>
			<array>
				<string>@type</string>
			</array>
		</dict>
	</dict>
	<key>interfaces</key>
	<dict>
		<key>assumer</key>
		<array>
			<string>array assumptions</string>
		</array>
		<key>binding</key>
		<array>
			<string>ref bindingTarget</string>
		</array>
		<key>call</key>
		<array>
			<string>string callName</string>
			<string>CallArgumentTuple callArguments</string>
			<string>array callCandidates</string>
			<string>CallCandidate selectedCallCandidate</string>
		</array>
		<key>expr_code</key>
		<array>
			<string>string exprCode</string>
			<string>string stmtsCode</string>
		</array>
		<key>graph</key>
		<array>
			<string>ref graphPrev</string>
		</array>
		<key>range</key>
		<array>
			<string>\Source\Range range</string>
			<string>\Source\Range humanRange</string>
		</array>
		<key>root_code</key>
		<array>
			<string>string indepDeclCode</string>
			<string>string depDeclCode</string>
			<string>string indepDefCode</string>
			<string>string depDefCode</string>
		</array>
		<key>type</key>
		<array>
			<string>possibleType</string>
			<string>requiredType</string>
			<string>actualType</string>
		</array>
	</dict>
</dict>
</plist>
